{% extends "./base.html" %} <!-- Extiende la plantilla base ubicada en el mismo directorio -->
{% block title %} Pagina Contacto {% endblock %} <!-- Define el bloque 'title' con el contenido 'Pagina Contacto' -->
{% block body %}
<div class="row"> <!-- Contenedor de fila para organizar el contenido -->
    <div class="container form"> <!-- Contenedor del formulario con clases de Bootstrap -->
        <form action="respuesta.html" method="get" class="form-contacto" id="Form_Contacto"> <!-- Formulario de contacto con método GET -->
            <fieldset> <!-- Agrupa los campos del formulario -->
                <legend class="text-center header">Formulario Contacto</legend> <!-- Leyenda del formulario -->
                
                <div class="mb-2"> <!-- Margen inferior para el campo del nombre -->
                    <input class="form-control" id="userName" type="text" placeholder="Nombre" required/> <!-- Campo de entrada para el nombre -->
                </div>
        
                <div class="mb-2"> <!-- Margen inferior para el campo del correo electrónico -->
                    <input class="form-control" id="userEmail" type="email" placeholder="Correo Electrónico" required/> <!-- Campo de entrada para el correo electrónico -->
                </div>
        
                <div class="mb-2"> <!-- Margen inferior para el campo del mensaje -->
                    <textarea class="form-control" id="userMens" type="text" placeholder="Introduzca su masaje para nosotros aquí. Nos pondremos en contacto con usted" rows="5" required></textarea> <!-- Área de texto para el mensaje -->
                </div>

                <div class="mb-3 d-grid"> <!-- Margen inferior y estilo de cuadrícula para el botón -->
                    <button class="btn btn-primary btn-lg" type="submit">Enviar</button> <!-- Botón para enviar el formulario -->
                    <!-- <button class="btn btn-primary btn-lg" type="button" onclick="valForm()">Enviar</button> --> <!-- Botón de envío comentado con función de validación -->
                </div>
            </fieldset>
        </form>
        <div class="alert alert-success mt-2 d-none" id="alertSuccess"></div> <!-- Alerta de éxito oculta inicialmente -->
    </div>
</div>
{% endblock %} <!-- Cierra el bloque 'body' -->
