{% extends "./base.html" %} <!-- Extiende la plantilla base ubicada en el mismo directorio -->
{% load static %} <!-- Carga la biblioteca de etiquetas estáticas de Django -->
{% block title %} PG | CURSOS {% endblock %} <!-- Define el bloque 'title' con el contenido 'PG | CURSOS' -->

{% block body %}
    <div>
        <h1>CURSOS</h1> <!-- Encabezado principal de la página -->
    </div>
    <div class="p-2">
      <a href="{% url 'gestioncur'%}" class="btn btn-primary">Gestion Cursos</a> <!-- Enlace para gestionar cursos -->
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <!-- Itera sobre los cursos obtenidos de la base de datos -->
        {% for cur in cursos %}
        <div class="col">
          <div class="card shadow-sm"> <!-- Tarjeta con sombra -->
            <!--<img src="{{cur.img.url}}" alt=""> Imagen del curso -->
            <div class="card-body">
              <div class="card-text">
                <p>{{cur.nombre}} <br>
                  sence		: {{cur.sence}} <br>
                  Area		: {{cur.id_Area}} <br>
                  Modalidad	: {{cur.modalidad}}
                </p> <!-- Detalles del curso -->
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="#" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Mas Información..</a> <!-- Botón para más información -->
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
{% endblock %} <!-- Cierra el bloque 'body' -->
